html body {
    font-family: "Montserrat", sans-serif;
    color: #333;
}

.modal-content {
    border: none !important;
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.12);
    border-radius: 12px !important;
}

.modal-header {
    border: none !important;
    border-radius: 12px !important;
}

.modal-title {
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #48c441;
}

.modal-body {
    border: none !important;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.modal-body .notice {
    color: #d60000;
    font-weight: 400;
}

.modal-body .notice span {
    color: #d60000;
    font-weight: 500;
}

.modal-body form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.modal-body form label {
    font-weight: 500;
    color: #333;
    margin-bottom: -8px;
}

.password-wrapper {
    position: relative;
    width: 100%;
}

.password-wrapper input {
    width: 100%;
    padding: 10px 40px 10px 12px;
    border-radius: 12px;
    border: 1px solid #48c441;
    box-sizing: border-box;
}

.password-wrapper input:focus {
    outline: none;
    border: #48c441 solid 1px;
    box-shadow: 0 0 4px 1px #48c441;
}

.toggle-password-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
    transition: transform 0.2s;
}

.toggle-password-icon:hover {
    transform: translateY(-50%) scale(1.1);
}

.action-buttons {
  display: flex;
  justify-content: end;
  gap: 8px;
}

.action-buttons .btn {
  padding: 9px 18px;
  border-radius: 12px;
  font-weight: 600;
  letter-spacing: 0.2px;
  transition: all 0.22s ease;
}

.action-buttons .primary-btn {
  background-color: #48c441;
  border: none;
  color: white;
  transition: all 0.2s ease;
}

.action-buttons .primary-btn:hover,
.action-buttons .primary-btn:active {
  background-color: #3ca237;
  transform: scale(1.005);
}

.action-buttons .secondary-btn {
  border: 2px solid #48c441;
  background-color: transparent;
  color: #48c441;
  transition: all 0.2s ease;
}

.action-buttons .secondary-btn:hover,
.action-buttons .secondary-btn:active {
  background-color: #3ca237;
  border: 2px solid #3ca237;
  color: #f2f2f2;
  transform: scale(1.005);
}

#errorMsg {
    display: none;
    flex-direction: column;
    gap: 6px;
    background: #ffe6e6;
    border: 1px solid #ffb3b3;
    border-left: 4px solid #ff4d4d;
    padding: 10px 14px;
    border-radius: 12px;
    align-items: center;
    color: #d60000;
    font-weight: 400;
    font-size: 14px;
    opacity: 0;
    animation: fadeIn 0.3s ease-in-out forwards;
}

.errorMsg {
    flex-direction: column;
    gap: 6px;
    background: #ffe6e6;
    border: 1px solid #ffb3b3;
    border-left: 4px solid #ff4d4d;
    padding: 10px 14px;
    border-radius: 12px;
    align-items: center;
    color: #d60000;
    font-weight: 400;
    font-size: 14px;
    opacity: 0;
    animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-6px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}